<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.m2e.Maven2LaunchConfigurationType">
    <booleanAttribute key="M2_BATCH" value="false"/>
    <stringAttribute key="M2_GOALS" value="-U archetype:generate"/>
    <listAttribute key="M2_PROPERTIES">
        <listEntry value="archetypeVersion=1.4"/>
        <listEntry value="package=com.floppy.Demoproject"/>
        <listEntry value="archetypeGroupId=org.apache.maven.archetypes"/>
        <listEntry value="archetypeArtifactId=maven-archetype-quickstart"/>
        <listEntry value="groupId=com.floppy"/>
        <listEntry value="artifactId=Demoproject"/>
        <listEntry value="outputDirectory=C:\Users\dines\Documents\workspace-spring-tool-suite-4-4.16.0.RELEASE"/>
        <listEntry value="version=0.0.1-SNAPSHOT"/>
    </listAttribute>
    <booleanAttribute key="M2_SAVE_BEFORE_LAUNCH" value="false"/>
    <booleanAttribute key="org.eclipse.debug.ui.private" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="C:\Users\dines\Documents\workspace-spring-tool-suite-4-4.16.0.RELEASE"/>
</launchConfiguration>
